body{
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.922);
}
main{
    margin-left: 30px;
    margin-right: 800px;
    color: whitesmoke;
}

main>h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 30px;
}
main>h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav.navbar {
    position: sticky;
}

.navbar ul{
    position: sticky;
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.navbar a:hover{
    color: #c13584; 
}
.navbar li{
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.navbar li:hover {
    filter: drop-shadow(0px 0px 5px #c13584);
}

#logo {
    position: inherit;
    display: block;
    background-color: black;
    justify-self: center;
    right: 0;
    width: 20%;
}

#sideImage {
    width: 30%;
    float: right;

}