body{
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.922);
}
main{
    margin-left: 30px;
    margin-right: 800px;
    color: whitesmoke;
}
main>h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
     
}

main>h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 30px;
}
main>h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav.navbar {
    position: sticky;
}

.navbar ul{
    position: sticky;
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: transform 0.4s;
}
.navbar a:hover{
    color: #c13584;
    transform: translateY(-8px);
    filter: drop-shadow(0px 0px 5px #c13584);
    transition: transform 0.2s;
}

.navbar li{
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.Home h1{
    color: white;
    font-size: 120px;
    margin-left: 8%;
    margin-top: 250px;
    margin-right: 55%;
}
#whut {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
#whut:hover {
    color: rgb(255, 123, 0);
    transition-delay: 0.1s;
}

#jav {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 180px;
    letter-spacing: 15px;
    background: url("/images/textbg.jpg") 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.pindot {
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 160px;
    margin-top: -100px;
    color: rgb(195, 28, 28);
    background-color: rgba(195, 28, 28, 0.43);
    padding: 0.5em 1em;
    border: 10px solid rgb(195, 28, 28);
    transition: all  0.6s;
}
.pindot:hover {
    transform: translateY(-10px);
    background-color: rgb(195, 28, 28);
    color: whitesmoke;
    filter: drop-shadow(0px 0px 20px red);
    transition: all  0.3s;
}
.mensahe {
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}
div>h1 {
    margin-left: -30px;
}
.box {
    height: 250px;
    width: 750px;
    background-color: #1e1e1e;
    padding-left: 10%;
    padding-top: 3%;
}
code {
    font-size: 25px;
}
#code1 {
    color: rgb(1, 182, 1);
}
#code2 {
    color: red;
}
#code3 {
    color: yellowgreen;
}
.box2 {
    height: 225px;
    width: 450px;
    background-color: black;
    padding-left: 2%;
    padding-top: 3%;
}
#logo1 {
    position: inherit;
    background-color: white;
    margin-left: 270px;
    margin-top: 6px;
    width: 19%;
}
.box3 {
    height: 370px;
    width: 750px;
    background-color: #1e1e1e;
    padding-left: 10%;
    padding-top: 3%;
    margin-top: -578px;
    margin-left: 1000px;
}
.box4 {
    height: 225px;
    width: 450px;
    background-color: black;
    margin-left: 321px;
    width: 10%;
    border-radius: 8px;
    filter: grayscale(100%);
}

#sideImage {
    width: 30%;
    float: right;

}