body{
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.922);
}
main{
    margin-left: 30px;
    margin-right: 800px;
    color: whitesmoke;
}

main>h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 30px;
}
main>h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav.navbar {
    position: sticky;
}

.navbar ul{
    position: sticky;
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: transform 0.4s;
}
.navbar a:hover{
    color: #c13584;
    transform: translateY(-6px);
    filter: drop-shadow(0px 0px 5px #c13584);
    transition: transform 0.2s;
}

.navbar li{
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}

#logo {
    position: inherit;
    background-color: black;
    margin-left: 321px;
    width: 10%;
    border-radius: 8px;
    filter: grayscale(100%);
}

#sideImage {
    width: 30%;
    float: right;

}